/* Navbar container */
.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, .25);
    background: hsl(159, 21%, 79%);
    border-radius: 16px;
    width: 95%;
    height: 75px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

/* Navbar logo */
.navbar-logo {
    color: #8966c4;
    cursor: pointer;
}

/* Navbar menu */
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

/* Navbar links */
.nav-links {
    text-decoration: none;
    color: #0f4104;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
}

/* Navbar links hover effect */
.nav-links:hover {
    color: #267373;
    transition: all 0.2s ease-in-out;
}